
#textWhite {
    color: white;
}

.dwd
{
    font-weight: bolder;
    font-size: 5rem;
   font-family: "Binjay";
   color: antiquewhite;
}

.fondDePage {
    background: linear-gradient(white, black);
}

.fondNoir {
    background: black;
}

@font-face
{
    font-family: "Binjay";
    src: url(../src/Binjay.otf) format('opentype');
}